<form action="/user/chatconfig" method="post">
    <div>
    <label for="language">Selecione o contexto:</label>
    <select name="conext" name="context_select" >
        <option value="ctx1">Aeroporto</option>
        <option value="ctx2">Restaurante</option>
        <option value="ctx3">Entrevista</option>
    </select>

    
    <label for="language">Selecione seu idioma:</label>
    <select name="conext" name="language_select" >
        <option value="en">Inglês</option>
        <option value="pt">Português</option>
        <option value="es">Espanhol</option>
        <option value="fr">Francês</option>
        <option value="de">Alemão</option>
        <option value="it">Italiano</option>
        <option value="ja">Japonês</option>
        <option value="zh">Chinês</option>
        <option value="ru">Russo</option>
        <option value="ko">Coreano</option>
    </select>

    <label for="language">Selecione o agente:</label>
    <select name="conext" name="agent_select" >
        <option value="a1">Carl</option>
        <option value="a2">Marie</option>
        <option value="a3">Steve</option>
    </select>
        <button type="submit">Confirmar</button>
    </div>

</form>