/* Container principal */
.principal {
  padding: 20px 0 80px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

/* Estilo do conteúdo principal */
.principal-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

/* Título no conteúdo principal */
.principal-1 h2 {
  font-weight: lighter;
  font-size: 30px;
  margin: 0;
}
.principal-1 mark{
  background-color: transparent;
  font-weight: bolder
  
}
.principal-1 button{
  width: 80%;
  font-weight: bolder;
}
/* Imagem principal */
.principal img {
  max-width: 100%;
  height: auto;
}

/* Container das bandeiras */
.bandeiras {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

/* Estilo dos itens de bandeiras */
.bandeiras div {
  border: 1px solid #e9e7e7;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

/* Imagem das bandeiras */
.bandeiras img {
  width: 100px;
  height: auto;
  padding-right: 10px;
}
/*Roteiros populares*/
.roteiros-populares{
  margin: 150px 0px;
}


/* Sessão das bandeiras */
.sessao-bandeiras {
  padding: 20px 0;
  border-top: 1px solid #e9e7e7;
  border-bottom: 1px solid #e9e7e7;
  margin-bottom: 150px;
}

/* Breakpoint para telas com largura máxima de 768px */
@media (max-width: 768px) {
  .principal {
    padding: 80px 10px;
    gap: 0;
    margin: auto;
  }

  .principal img {
    max-width: 300px;
    display: none;
    height: auto;
  }

  .bandeiras {
    max-width: 100%;
    flex-direction: column;
  
  }

  .bandeiras img {
    width: 80px;
    height: auto;
  }

  .principal-1 {
    max-width: 100%;
    padding: 0 20px;
  }

  .principal-1 h2 {
    font-size: 25px;
    text-align: center;
    line-height: 30px;
  }
    .principal-1 button{
      margin-top: 10px;
      width: 100%;
    }

  .sessao-bandeiras {
    margin-bottom: 80px;
  }
}
