body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    color: #333;
  }
  
  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: calc(100% - 120px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .roteiro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .roteiro {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .roteiro-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .roteiro-title {
    margin: 10px;
    color: #333;
  }
  
  .roteiro-description {
    color: #666;
    margin: 10px;
  }
  
  .roteiro-difficulty {
    margin: 10px;
    font-weight: bold;
    color: #007bff;
  }
  
  .practice-button {
    background-color: #28a745;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .practice-button:hover {
    background-color: #218838;
  }
  