<form action="/admin/newagent" method="post">
    <label for="name">Name:</label>
        <input type="text" name="name"><br>
    <label for="code">Code:</label>
        <input type="text" name="code"><br>
    <button type="submit">Confirmar</button>
</form>