<form action="/admin/newlanguage" method="post">
    <label for="name">Name:</label>
        <input type="text" name="name"><br>
    <label for="code">Code:</label>
        <input type="text" name="code"><br>
    <label for="description">Flag:</label>
        <input type="url" name="flag" placeholder="image_link">

    <button type="submit">Confirmar</button>
</form>